body{font-family: 'Khula', sans-serif;}
#headerhome{background: #3babd3; width: 100%; height: 120px}
#logo{width: 117px;margin: 0 auto;display: block;padding-top: 10px;}
.busqueda{border: 1px solid #cbcbce !important;width: 70%;margin: 0 auto;display: block;height: 20px;margin-top: 6px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;padding: 0 10px;}::-webkit-input-placeholder { text-align:center; }
input:-moz-placeholder { text-align:center; }
#content{padding: 20px 0; float: left; width: 100%;    position: relative;z-index: 3;}
.w33{width: 33.3%; float: left; margin-top: 20px}
#footer{background: #13a8d0; width: 100%; position: fixed; bottom: 0; height: 50px; z-index: 99}
#menufooter{margin-top: 5px}
#menufooter li{float: left; width: 25%; font-size: 25px; text-align: center}
#menufooter li a{color: #fff}
.spanfooter{color: #FFF;font-size: 10px;margin-top: 1px;display: block;}
#headerhistorico{width: 100%; height: 50px;}
#menuhome li a img{margin: 0 auto;display: block;}
.atras{color: #fff !important;text-decoration: none;padding-top: 16px;display: block;padding-left: 5px;}
.alimentos{background:#e24b2e !important}
.belleza{background:#5394cc !important}
.educacion{background: #ebc035 !important}
.entretenimiento{background: #945ca3 !important}
.moda{background: #c03459 !important}
.servicios{background: #b0c640 !important}
.turismo{background: #4fba9c !important}
.todas{background: #13a8d0 !important}
.tituloEstablecimiento{color: #545454;color: #545454;font-weight: bold;font-size: 17px;    margin-bottom: 10px;}
.descripcionEstablecimiento{color: #ababab;    line-height: 17px;    font-size: 13px;}
#filtroshistorico{height: 80px;float: left;width: 100%;margin-top: -1px;position: fixed;background: #fff;z-index: 2;}
.imagenEstablecimiento{width: 20%; float: left;}
.establecimiento{padding: 20px 0; border-bottom: 1px solid #ababab; float: left; width: 100%}
.descripcion{width: 58%;float: left;margin-left: 1%;margin-right: 1%;}
.circulo{width: 20%; float: left;}
.promo{width: 70px;height: 70px;-webkit-border-radius: 35px;-moz-border-radius: 35px;border-radius: 35px;color: #fff;font-size: 18px;text-align: center;position: relative;}
#historico{padding-bottom: 50px}
.promo span{display: block;position: absolute;margin-top: 27px;text-align: center;width: 100%;font-size: 21px;}
.ui-select {width: 33%;color: #fff}
#latitud{display: none}
#longitud{display: none}
#map{height: 100%;width: 100%;position: absolute !important;z-index: 1;}
.ui-loader .ui-icon-loading {background-color: #000; display: block;margin: 0;width: 2.75em;height: 2.75em;padding: .0625em;-webkit-border-radius: 2.25em;border-radius: 2.25em;}
.ui-icon-loading {background: url(../images/ajax-loader.gif);background-size: 2.875em 2.875em;}
p.distancia {color: #e24b2e;margin-top: 5px;font-size: 13px;}
#map-page, #map-canvas { width: 100%; height: 96%; padding: 0; }
#subgiros{display: none}
#seccion{display: none}
.ui-controlgroup-controls {width: 100%;}
#contenedorEstablecimientos{    padding-top: 96px;}
.ui-page{background: #fff !important}
.imagenmapa{width: 100px;float: left;margin-right: 10px;} 
#map-canvas img[src*="gstatic.com/"], #map-canvas img[src*="googleapis.com/"] {max-width: none;}
.tooltipmapa h2{float: left;}
.gm-style-iw + div{background: url(../images/cerrar.jpg) !important;}
#logosingle{display: none}
#efectivosingle{display: none}
#tarjetasingle{display: none}
#vigenciasingle{display: none}
#sucursalsingle{display: none}
#direccionsingle{display: none}
#restriccionessingle{display: none}
#promocionsingle{display: none}
#single_imagen {width: 100px;margin: 20px auto;display: block;}
.tac{text-align: center}
#efectivo_single{text-align: center; font-size: 25px; font-weight: bold; margin: 5px 0 0 0}
#tarjeta_single{text-align: center; font-size: 25px; font-weight: bold; margin: 5px 0 0 0}
#vigencia_single{margin-top: 10px; color: #eb9945}
#usarcupon{background: #13a8d0;color: #fff;text-decoration: none;width: 80px;height: 60px;display: block;text-align: center;padding-top: 20px; margin: 10px auto;-webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;}
#sucursal_single{font-size: 25px;font-weight: bold;}
#direccion_single{text-align: center;margin-top: 5px;}
#restriccion_single{text-align: center;margin-top: 15px;font-size: 13px;color: #9d2741;}
#backtarjeta{}
#imagentarjeta{width: 200px; margin: 30px auto; display: block;}
.sesion{
	background: #13a8d0;
    height: 20px;
    float: left;
    display: block;
    width: 100%;
    margin: 10px 0;
    color: #fff;
    text-align: center;
    padding: 10px;
}
#cupon_tarjeta{width: 300px; height: 189px; background: url(../images/fondo_tarjeta.png); position: fixed; top: 100px; z-index: 99;    left: 50%;
    margin-left: -150px; display: none}
#cronometro{color: #fff; position: absolute; right: 10px; top: 10px}
#emailtarjeta{position: absolute;
    top: 92px;
    left: 11px;
    font-size: 12px;
    color: #fff;
}
#membresiatarjeta{
	position: absolute;
    top: 121px;
    left: 11px;
    font-size: 20px;
    color: #fff;	
}
#nombretarjeta{
	position: absolute;
    top: 163px;
    left: 11px;
    font-size: 10px;
    color: #fff;	
}
#vigenciatarjeta{
	position: absolute;
    top: 163px;
    left: 154px;
    font-size: 11px;
    color: #fff;	
}
#cronometro{text-shadow:none;}
#cerrarcupon{
	position: absolute;
	right: -15px;
	top: -15px;
	font-size: 24px
}
